# Ejercicios Sesión 4

In [2]:
from pymongo import MongoClient
import pprint
import re
from IPython.display import clear_output

In [ ]:
client = MongoClient('mongodb+srv://analytics:analytics-password@testcris.whr7f.mongodb.net/test?authSource=admin&replicaSet=atlas-x3zgu3-shard-0&readPreference=primary&appname=MongoDB%20Compass&ssl=true')

### 1.Obtén los datos de contacto de cada compañía.

In [3]:
filter={}
project={
    'name': 1, 
    'email_address': 1, 
    'phone_number': 1, 
    '_id': 0
}

result = client['sample_training']['companies'].find(
  filter=filter,
  projection=project
)

i=0
for x in result:
    i+=1
    #print(i,'\n',x,'\n')

print('RESULTADOS TOTALES:',i,'\n',x,'\n')

RESULTADOS TOTALES: 9500
 {'name': 'EnteGreat Solutions', 'email_address': '', 'phone_number': ''}

### 2.Obtén la fuente de cada tweet.

In [4]:
filter={}
project={
    'name': 1, 
    'twitter_username': 1, 
    '_id': 0
}

result = client['sample_training']['companies'].find(
  filter=filter,
  projection=project
)

i=0
for x in result:
    i+=1
    #print(i,'\n',x,'\n')

print('RESULTADOS TOTALES:',i,'\n',x,'\n')

RESULTADOS TOTALES: 9500
 {'name': 'EnteGreat Solutions', 'twitter_username': ''}

### 3.Obtén el nombre de todas las compañias fundadas en octubre.

In [5]:
project={
    'name': 1, 
    'founded_month': 1, 
    '_id': 0
}

result = client['sample_training']['companies'].find(
  filter=filter,
  projection=project
)

i=0
for x in result:
    i+=1
    #print(i,'\n',x,'\n')

print('RESULTADOS TOTALES:',i,'\n',x,'\n')

RESULTADOS TOTALES: 301
 {'name': 'My TV Shows', 'founded_month': 10}

### 4.Obtén el nombre de todas las compañías fundadas en 2008

In [6]:
filter={
    'founded_year': 2008
}
project={
    'name': 1, 
    'founded_year': 1, 
    '_id': 0
}

result = client['sample_training']['companies'].find(
  filter=filter,
  projection=project
)

i=0
for x in result:
    i+=1
    #print(i,'\n',x,'\n')

print('RESULTADOS TOTALES:',i,'\n',x,'\n')

RESULTADOS TOTALES: 1224
 {'name': 'cotralis', 'founded_year': 2008}

### 5.Obtén todos los post del autor machine

In [13]:

filter={
    'author': 'machine'
}

result = client['sample_training']['posts'].find(
  filter=filter
)

i=0
for x in result:
    i+=1
    #print(i,'\n',x,'\n')

#print('RESULTADOS TOTALES:',i,'\n',x,'\n')
print('RESULTADOS TOTALES:',i)

RESULTADOS TOTALES: 500

### 6.Obtén todos los tweets provenientes de la web.

In [8]:
filter={
    'category_code': 'web'
}
project={
    'name': 1, 
    'twitter_username': 1, 
    'category_code': 1, 
    '_id': 0
}

result = client['sample_training']['companies'].find(
  filter=filter,
  projection=project
)

### 8.Obtén todas las compañías fundadas en octubre del 2008.

In [9]:
filter={
    '$and': [
        {
            'founded_year': 2008
        }, {
            'founded_month': 10
        }
    ]
}
project={
    'name': 1, 
    'founded_month': 1, 
    'founded_year': 1, 
    '_id': 0
}

result = client['sample_training']['companies'].find(
  filter=filter,
  projection=project
)

i=0
for x in result:
    i+=1
    #print(i,'\n',x,'\n')

print('RESULTADOS TOTALES:',i,'\n',x,'\n')

RESULTADOS TOTALES: 63
 {'name': 'Bump Technologies', 'founded_year': 2008, 'founded_month': 10}

### 8.Obtén todas las compañias con más de 50 empleados.

In [10]:
filter={
    'number_of_employees': {
        '$gt': 50
    }
}
project={
    'name': 1, 
    'number_of_employees': 1, 
    '_id': 0
}
sort=list({
    'number_of_employees': 1
}.items())

result = client['sample_training']['companies'].find(
  filter=filter,
  projection=project,
  sort=sort
)

i=0
for x in result:
    i+=1
    #print(i,'\n',x,'\n')

print('RESULTADOS TOTALES:',i,'\n',x,'\n')

RESULTADOS TOTALES: 793
 {'name': 'IBM', 'number_of_employees': 388000}

### 9.Obtén las historias con número de comentarios entre 10 y 30.

### 10.Obtén la empresa con el menor número de empleados.

In [11]:
filter={
    '$and': [
        {
            'number_of_employees': {
                '$ne': None
            }
        }, {
            'number_of_employees': {
                '$lt': 3
            }
        }
    ]
}
project={
    'name': 1, 
    'number_of_employees': 1
}
sort=list({
    'number_of_employees': 1
}.items())

result = client['sample_training']['companies'].find(
  filter=filter,
  projection=project,
  sort=sort
)

i=0
for x in result:
    i+=1
    #print(i,'\n',x,'\n')

print('RESULTADOS TOTALES:',i,'\n',x,'\n')

RESULTADOS TOTALES: 760
 {'_id': ObjectId('52cdef7f4bab8bd67529c6e2'), 'name': 'MyChances', 'number_of_employees': 2}

### 11.Obtén la empresa con el mayor número de empleados.

In [12]:
filter={}
project={
    'name': 1, 
    'number_of_employees': 1, 
    '_id': 0
}
sort=list({
    'number_of_employees': -1
}.items())
limit=1

result = client['sample_training']['companies'].find(
  filter=filter,
  projection=project,
  sort=sort,
  limit=limit
)

for x in result:
    print(x)

{'name': 'IBM', 'number_of_employees': 388000}

### 12.Obtén la historia más comentada